/* --------------- (MOBILE LANDSCAPE SMALL) --------------- */
@media all and (min-width: 500px) and (min-height: 350px)
 and (max-width: 900px) and (max-height: 450px)
  and (orientation: landscape) {
    /* ---------- (GENERAL STYLES) ---------- */
    h1 {
        font-size: 45px;
        line-height: 50px;
    }
    /* ---------- (#1 HOME SECTION) ---------- */
    #home-section {
        height: 130vh;
        grid-template-rows: 12% 88%;
        min-height: 460px;
        max-height: 300px;
    }
    /* Header & Navigation */
    .bulls-logo {
        width: 70px;
        height: 80px;
        margin: 10px 0 0 15px;
    }
    /* Navigation Menu */
    /* Menu Items */
    .menu-items {
        top: 13vh;
        padding-top: 20px;
        justify-items: center;
    }

    .menu-items a {
        font-size: 20px;
    }

    .nlwhite {
        margin: 0;
    }

    .nlred {
        padding: 25px 0;
    }
    /* Hero */

    .hero-description {
        width: 90%;
        margin-bottom: 50px;
    }

    .hero-description p {
        margin: 15px 0;
        width: 90%;
    }

    .hero-buttons {
        flex-direction: row;
    }

    .join-button, .contact-button {
        width: 150px;
        height: 45px;
    }

    .contact-button {
        margin: 0 0 0 15px;
    }
    }

